input[type="radio"] {
    background: black;
    color: black;
    accent-color: black;
    border: 3px solid black;
}

.comm {
    background: none;
    resize: none;
    border: none;
}

.comm:active {
    background: none;
    resize: none;
    border: none;
}

.comm:hover {
    background: none;
    resize: none;
    border: none;
}

.comm:focus {
    background: none;
    resize: none;
    border: none;
    outline: none;
}

.modal-btn {
    background-color: #6c6c6c;
    border: 1px solid darkgrey;
    color: white;
    border-radius: 25px;
}

.modal-btn:hover {
    background-color: #6c6c6c;
    border: 1px solid darkgrey;
    color: white;
    border-radius: 25px;
    opacity: 80%;
}

