{% extends "layouts/base.html" %}

{% block title %}Sign In{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-7 mr-3">
            <img class="img-fluid cover-logo" src="https://cdn.freebiesupply.com/logos/large/2x/cpsc-logo-png-transparent.png">
        </div>
        <div class="col-3 justify-content-center text-center ml-5">
            <p class="text-black text-uppercase h1 mb-5 pb-5 fw-bold">sign in</p>
            <form action="#" method="POST">
                <input class="input1 mt-4 font-italic" type="text" name="username"
                    placeholder="EMAIL OR USERNAME" required>
                <input class="input1 mt-4 font-italic" type="password" name="password"
                    placeholder="PASSWORD"
                    required>
                    <div class="row mt-2">
                        <a class="text-uppercase text-secondary fw-light" href="">forgot password</a>
                    </div>
                
                <button class="contact1-form-btn mt-4 text-uppercase" type="submit">login</button>
                <div class="row mt-2">
                    <a class="text-uppercase text-secondary font-weight-light" href="">create account</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}