{% extends "layouts/base-logged.html" %}

{% block title %}Recalls{% endblock title %}

{% block stylesheets %}
<style>
    .table-gray {
        background-color: #a5acc6;
        text-align: center;
    }
    .table-gray th,
    .table-gray td {
        border-color: white;
        background-color: #a5acc6;
        color: white;
        font-family: Montserrat-Regular;
    }
    .table-gray th {
        color: #525562;
        font-family: Montserrat-Regular;
        font-weight: bold;
    }
    .modal-button {
        background-color: #27336e;
        color: white;
    }
    .modal-button:hover {
        background-color: #27336e;
        color: white;
        opacity: 0.85;
    }
    .modal-header {
        font-family: Montserrat-Regular;
        font-weight: lighter;
        color: gray;
    }
    .modal-content {
        background-color: #d8d8d8;
    }
    .checkbox input {
        height: 0;
        width: 0;
      }
    .checkbox {
        position: relative;
        user-select: none;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        border: 2px solid #c9c9c9;
        background-color: #dedbdb;
      } 
      .checkbox:hover input ~ .checkmark {
        background-color: #bcbcbc;
      }
      .checkbox input:checked ~ .checkmark {
        background-color: #27336e;
      }
      a {
        color: white;
      }
      a:hover {
        text-decoration: none;
      }

      .dataTables_info {
        color: black;
        font-family: Montserrat-Regular;
      }

      .paginate_button {
        background-color: #a5acc6;
        border: 2px solid white;
        color: white;
      }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col d-flex align-items-center justify-content-center mt-2">
            <p class="h1 text-uppercase text-black fw-bold">product recall
                alerts</p>
        </div>
    </div>
    <form action="{{ url_for('prior_recalls')}}" method="POST">
        <div class="row mt-5">
            <table id="tblRecalls" class="table table-gray">
                <thead>
                    <tr class="text-uppercase">
                        <th></th>
                        <th>Recall ID</th>
                        <th>Product Name</th>
                        <th>Units in Circulations</th>
                        <th>Recall Reason</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recall in data %}
                    <tr>
                        <td><label class="checkbox">
                                <input type="checkbox" name="checkedRecallIDs"
                                    value="{{ recall.RecallID }}" />
                                <span class="checkmark"
                                    style="display: none;"></span>
                            </label></td>
                        <td>{{recall.RecallID}}</td>
                        <td><a
                                href="{{ url_for('recall_details') }}">{{recall.ProductName}}</a></td>
                        <td>{{recall.UnitsInCirculation}}</td>
                        <td>{{recall.RecallReason}}</td>
                        <td>{{recall.RecallDate.date()}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="row my-5 py-3">
            <div class="col-8">

            </div>
            <div class="col-2">
                <button class="custom-btn text-uppercase"
                    id="btnCancel"
                    style="display: none; background-color: rgb(201, 0, 0);" type="button">cancel</button>
            </div>
            <div class="col-2">
                <button class="custom-btn text-uppercase"
                    id="btnSelect" type="button">select high
                    priority</button>
                <button class="custom-btn text-uppercase"
                    id="btnConfirm" style="display: none;" data-toggle="modal"
                    data-target="#confirmModal" type="submit">confirm</button>
            </div>
        </div>
    </form>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
        aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">

                    <div class="row">
                        <h5 class="modal-title text-uppercase text-center"
                            id="confirmModalLabel">selected recalls have been
                            prioritized and sent to CPSC investigator</h5>

                    </div>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // initialize the buttons from the document by ID
        let btnSelect = document.getElementById('btnSelect');
        let btnConfirm = document.getElementById('btnConfirm');
        let btnCancel = document.getElementById('btnCancel');

        // event listener so that checkboxes will appear if the select button is clicked
        // will also display the cancel and confirm buttons and remove the select button
        btnSelect.addEventListener('click', function() {
            let checkboxes = document.querySelectorAll('span[class="checkmark"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.style.display = 'block';
            });

            btnSelect.style.display = 'none';
            btnConfirm.style.display = 'block';
            btnCancel.style.display = 'block';
        });

        // function to remove the checkboxes, cancel, and confirm buttons and
        // display the select button
        function reset() {
            let checkboxes = document.querySelectorAll('span[class="checkmark"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.style.display = 'none';
            });
            btnSelect.style.display = 'block';
            btnConfirm.style.display = 'none';
            btnCancel.style.display = 'none';
        }
        
        // add reset function as event listener for both cancel and confirm buttons
        btnCancel.addEventListener('click', reset);
        btnConfirm.addEventListener('click', reset);

        // make the recalls table have 20 rows per page
        $(document).ready(function() {
            $('#tblRecalls').DataTable({
                "paging": true,
                "pageLength": 10,
                "searching": false,
                "lengthChange": false,
                "ordering": false,
            });
        });

       
    </script>
</div>
{% endblock content %}

<!-- 
 $(document).ready(function() {
            $('#btnConfirm').click(function() {
                let selected_recalls = $('input[type=checkbox]:checked').map(function() {
                    return $(this).val();
                }).get();
                selected_recalls = [72];
                $.ajax({
                    url: '/prior-recalls',
                    type: 'POST',
                    data: { selected_recalls: selected_recalls },
                    error: function(xhr, status, error) {
                        console.error('Error updating database:', error);
                    }
                });
            });
        });

 -->
